<script context="module"> 
  import { fetchContentfulPages } from  '../helpers/fetchContentfulPages'

	export async function preload(page, session) {
		
    const contentfulPages = await fetchContentfulPages(this, session)
		return {
      contentfulPages: contentfulPages,
      page: contentfulPages.getPageFromSlug(page.params.slug)
		}
	}
</script>

<script>
  import ContentfulPage from '../components/ContentfulPage.svelte'
  export let contentfulPages;
  export let page;
</script>

<ContentfulPage {contentfulPages} {page} />