<script>
	import Header from '../components/Header.svelte'
	import { onMount } from 'svelte'

	export let segment;
	if (!segment) {
		segment = 'index'
	}

	// Output some information for dev transparency
	const consoleInfo = {
		mode: process.env.MODE,
		version: process.env.VERSION,
		segment: segment
	}
	console.table(consoleInfo)

	let isLoaded = false;
  onMount(() => {
		isLoaded = true;
		
		// Only use google analytics in production
		(process.env.MODE === 'production') && addGoogleAnalyticsScript();
	})
	
	const addGoogleAnalyticsScript = () => {
		(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-WTN6WHX');
	}
</script>

<style>
	.right-band {
		z-index: -9;
		background-color: #f7f7f7;
		position: fixed;
		top: 0;
		right: 0;
		height: 100%;
		width: 0px;
		transition: width .6s ease-in-out .2s;
	}

	.right-band.isLoaded {
		width: 80px;
	}

  @media all and (min-width: 736px) {
		.right-band.isLoaded {
			width: 50%;
		}
	}
</style>

<main>
	<Header />  
	<slot></slot>
	<div class="right-band" class:isLoaded> </div>
	<!-- add sitemap links to force sitemap generation on export -->
	<a style="display: none;" href="/sitemap.xml" >Sitemap</a>
</main>