<script>
  import Nav from '../components/Nav.svelte'
  import Footer from '../components/Footer.svelte'
	import FeaturedContent from '../components/FeaturedContent.svelte'
  import RichTextContent from '../components/RichTextContent.svelte'
  import { siteUrl } from '../stores/_config.js';

  export let contentfulPages
  export let page

  const currentUrl = page.getSlug() !== 'index' ? `${siteUrl}/${page.getSlug()}/` : `${siteUrl}/`

</script>

<svelte:head>
	<title>{page.getMetatitle() }</title>
	
 	<meta name="description" content="{page.getFeaturedParagraph()}" />
  <meta name="keywords" content="{page.getKeywords()}"/> 

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content={currentUrl}>
  <meta property="og:title" content="{page.getMetatitle()}">
  <meta property="og:description" content="{page.getFeaturedParagraph()}">
  <meta property="og:image" content="{page.getMetaImage()}">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content={currentUrl}>
  <meta property="twitter:title" content="{page.getMetatitle()}">
  <meta property="twitter:description" content="{page.getFeaturedParagraph()}">
  <meta property="twitter:image" content="{page.getMetaImage()}">
</svelte:head>

<div style="position: relative"> 
  <FeaturedContent title={page.getTitle()} featuredParagraph={page.getFeaturedParagraph()} featuredImage={page.getFeaturedImage()} /> 
  <RichTextContent richTextContent="{page.getContent()}" />
  <Footer />
  <Nav links={contentfulPages.getNavigationLinks()} />
</div>