<script>
  import { onMount, beforeUpdate } from 'svelte'
  import { menuOpened, pageScrolled } from '../stores/stores.js';
  import RenderImage from './RenderImage.svelte'
  import RichTextContent from './RichTextContent.svelte'
  export let title;
  export let featuredImage;
  export let featuredParagraph;

  let isLoaded = false;
  let leftPaneBackgroundImage = 'none';

  const onScroll = () => {
    if (document.documentElement.scrollTop > 0) {
      pageScrolled.update(n => true);
    } else {
      pageScrolled.update(n => false);
    }
  }

  const setHighResImageToLeftPane = (event) => {
    // Get featured image and add it to the left pane for smooth scroll transition
    leftPaneBackgroundImage = `url(${event.detail})`;
  }

  onMount(() => {
    isLoaded = true;
    onScroll();
    window.addEventListener('scroll', (event) => {
      onScroll();
    })
  })

</script>


<style lang="scss">
  .featured-content {
    .title {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      transform: translateX(-20px);
      transition: transform 250ms ease-in-out 60ms, font-size 100ms;
      h1 {
        margin-right: 20px;
        text-align: right;
        max-width: 280px;
        font-size: 1.5em;
      }
    }

    .paragraph-container {
      display: none;
    }

    .image {
      margin-top: 40px;
      transition: transform 200ms ease-in-out 500ms;
    }

    .invite-to-scroll {
      display: none;
      position: fixed;
      bottom: 2px;
      height: 86px;
      left: 50%;
      width: 7px;
      .text {
        position: absolute;
        text-transform: lowercase;
        top: 25px;
        right: 0px;
        width: 120px;
        font-size: 0.90em;
        line-height: 1.3em;
      }
    }

    &.menuOpened {
      .title, .image  {
        transform: translateX(-100%);
      }
      .title {
        transition: transform 200ms ease-in-out 80ms;
      }
      .image {
        transition: transform 200ms ease-in-out 120ms;
      }
    }
  }

  @media all and (min-width: 460px) {
    .featured-content .title h1 {
      max-width: 360px;
      font-size: 2.2em;
    }
  }

  @media all and (min-width: 736px) {
    .featured-content {
      height: calc(100vh - 160px);
      margin-bottom: 300px;
      display: flex;
      align-items: center;
      transition: margin 700ms;
      .left-background-image {
        z-index: -9;
        position: fixed;
        opacity: 0;
        left:0;
        top: 0;
        width: 50%;
        height: 100vh;
        background-size: cover;
        background-position: 50% 50%;
        transform: scale(1);
        transform-origin: 60% 15%;
        transition: opacity .3s, transform .3s ease-out .3s;
      }
      .paragraph-container {
        position: fixed;
        display: flex;
        width: 300px;
        top: 140px;
        left: 50px;
        transition: all .3s;

        .left-line {
          position: absolute;
          top: calc(50% - 5px);
          width: 0;
          left: -50px;
          height: 1px;
          background-color: #3A3A3A;
          transition: width .6s ease-in-out .2s;
        }
      }
      .title {
        position: fixed;
        width: 50%;
        h1 {
          margin-right: -50px;
          max-width: none;
        }
      }
      .image {
        position: fixed;
        right: 5%;
        width: 40%;
        margin-top: 0;
        transition: transform 300ms, opacity 400ms; 
      }
      .invite-to-scroll {
        display: block;
        
        svg {
          transform: translateY(150px);
          transition: all .3s ease-in-out .1s;
        }
        .text {
          transition: all .5s ease-in-out .3s;
          transform: translateX(50px);
          opacity: 0;
        }
      }

      /* ANIMATION ON LOADED */
      &.isLoaded {
        .left-line { width: 40px; }
        .title {
          transform: translateX(0);
        }
        .invite-to-scroll svg { transform: translateY(0); }
        .text {
          transform: translateX(0);
          opacity: 1;
        }
      }

      /* ANIMATION ON SCROLL */
      &.pageScrolled {
        margin-bottom: -50px;
        .left-background-image {
          transition: opacity .3s, transform 20s ease-in;
          transform: scale(1.3);
          opacity: 0.1;
        }
        
        .title {
          transition: transform 800ms ease-in-out, font-size 300ms ease-in-out 300ms;
          //transform: translateX(calc(-40% + 50px));
          //transform: translateY(-100px);
          transform: translateX(-70px);
          //font-size: 0.8em;
        }
        .paragraph-container  {
          opacity: 0;
          transform: translateX(-10px);
          transition: all 400ms;
          .left-line {
            width: 0;
            transition: width 300ms ease-in-out 100ms;
          }
        }
        .image {
          transition: transform 600ms ease-out 300ms;
          transform: translateY(100px);
          position: absolute;
        }
        .invite-to-scroll {
          svg {
            transform: translateY(150px);
          }
          .text {
            transform: translateY(50px);
            opacity: 0;
          }
        }
      }
    }
  }

  @media all and (min-width: 980px) {
    .featured-content {
      .title { 
        
        h1 {
          font-size: 2.9em;
        }
      }

      .paragraph-container {
        top: 140px;
        left: 200px;
        .left-line {
          left: -200px;
        }
      }
      &.isLoaded {
        .left-line { width: 160px; }
      }
    }
  }
  @media all and (min-width: 1280px) {
    .featured-content {
      .title {
        
        h1 { font-size: 3.5em; }
      }
    }
  }

</style>


<div class="featured-content" class:isLoaded class:menuOpened={$menuOpened} class:pageScrolled={$pageScrolled}> 
  <div style="background-image: {leftPaneBackgroundImage}" class="left-background-image"></div> 
  <div class="paragraph-container"> 
    <div class="left-line"> </div>
    <div class="paragraph"> 
      <RichTextContent isFeaturedParagraph={true} richTextContent={[featuredParagraph]} /> 
    </div>
  </div>
  <div class="title"> 
    <h1> {@html title} </h1> 
  </div>
  <div class="image"> 
    <RenderImage isFeaturedImage={true} on:highResImageAdded="{setHighResImageToLeftPane}" image={featuredImage} /> 
  </div>
  <div class="invite-to-scroll"> 
    <div class="text"> <strong> <i> read more </i></strong> about <br/> this article </div>
    <svg fill="none" viewBox="0 0 8 97" xmlns="http://www.w3.org/2000/svg">
      <path d="m3.6464 96.354c0.19526 0.1952 0.51184 0.1952 0.7071 0l3.182-3.182c0.19527-0.1953 0.19527-0.5119 0-0.7071-0.19526-0.1953-0.51184-0.1953-0.7071 0l-2.8284 2.8284-2.8284-2.8284c-0.19526-0.1953-0.51184-0.1953-0.7071 0-0.19526 0.1952-0.19526 0.5118 0 0.7071l3.182 3.182zm-0.14645-96.354v96h1v-96h-1z" fill="#3A3A3A"/>
    </svg>
  </div>
</div>