<script>
  import { onMount } from 'svelte'
  import BirdButton from '../components/BirdButton.svelte'
  import isSupportingWebp from '../helpers/utils'

  let messageSent = false;
  let mail = {
    subject: '',
    message: ''
  }
  let errorMessage = '';

  let noWebP = false;

  onMount(async() => {
    noWebP = await !isSupportingWebp();
  })

  const sendMail = (() => {
    if (mail.subject === '') {
      errorMessage = 'Please add a subject'
    } else if (mail.message === '') {
      errorMessage = 'Please add a message'
    } else {
      errorMessage = ''
      messageSent = true

      fetch(`/.netlify/functions/sendMail`, {
        method: 'POST',
        headers : {
          'Content-Type': 'application/json',
        },
        
        body: JSON.stringify({
          mode: process.env.LAMBDA_MODE,
          mail: mail,
        }),
        
      }).then(async (response) => {
        if (process.env.LAMBDA_MODE) {
          console.log(await response.json())
        }
        
      });
    }
  })
</script>

<style lang="scss">

  .footer {
    position: relative;
    padding-bottom: 90px;
  
    .maps-image {
      display: flex;
      background-image: url('/stockholm-maps.webp');
      background-size: cover;
      align-items: center;
      height: 280px;
      p {
        font-family: 'Playfair display';
        font-style: italic;
        text-align: center;
        margin: 0 auto;
        color: #fefefe;
        font-size: 19px;
        padding: 0 20px;
        text-align: center;
      }
      &.noWebP {
        background-image: url('/stockholm-maps.png');
      }
    }
    .message-form {
      overflow: hidden;
      padding: 0 10px;
      height: 300px;
      margin-top: 30px;
      transition: height 600ms ease-in-out;
      input {
        width: calc(100% - 40px);
        font-family: 'Playfair display';
        border: medium none;
        border-bottom: 1px solid #c9c9c9;
        margin-top: 10px;
        font-size: 2em !important;
        padding:10px;
        background-color: transparent;
        color: rgb(63, 63, 63);
        outline:none;
      }
      textarea {
        font-family: 'Playfair display';
        margin-top: 20px;
        border: medium none;
        display: block;
        font-size: 1rem;
        height: 12.5rem;
        line-height: 2.125rem;
        padding: 0 10px 0 10px;
        resize: none;
        width: calc(100% - 40px);
        color: #3A3A3A;
        background: linear-gradient(to top, #c9c9c9 0%, #fff0 3%) repeat scroll 0 30px/100% 33px;
        outline:none;
      }
      &.messageSent {
        height: 0;
      }

    }

    .error-message {
      padding-left: 0;
      color: #c10000;
      opacity: 0;
      transition: all 300ms;
      &.hasErrorMessage {
        opacity: 1;
        padding-left: 40px;
      }
    }

    .social {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      .link {
        background-size: cover;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        margin: 0 12px;

        &.linked-in { background-image: url('/social/linkedin.svg'); width: 23px; height: 24px; }
        &.instagram { background-image: url('/social/instagram.svg'); }
        &.gitlab { background-image: url('/social/gitlab.svg'); }
        span {
          opacity: 0;
          visibility: hidden;
        }
      }
    }

    @media all and (min-width: 460px) {
      .maps-image {
        p {
          font-size: 26px;
          line-height: 39px;
        }
      }
    }
  }
  @media all and (min-width: 736px) {
    .footer {
     
      display: flex;
      position: relative;
      .footer-container {
        position: absolute;
        width: 50%;
        right: 0;
      }
      .maps-image {
        p {
          font-size: 22px;
        }
      }
      .message-form {
        padding: 0 40px;
        input, textarea {         
          width: 100%;
        }
      }
    }

  }
</style>

<div class="footer">
  <div class="footer-container">
    <div class="maps-image" class:noWebP> 
      <p> I would <strong>love</strong> to know you better! <br/> Feel free to contact me using the form below </p>
    </div>
    <div class="message-form" class:messageSent>
      <label for="mail-subject">
        <input aria-label="mail-subject" id="mail-subject" type="text" bind:value={mail.subject} placeholder="Subject" /> 
      </label>
      <label for="mail-message">
        <textarea aria-label="mail-message" id="mail-message" cols="40" rows="10" bind:value={mail.message} placeholder="your message here..."></textarea> 
      </label>
    </div> 
    <div class="error-message" class:hasErrorMessage={errorMessage !== ''}> {@html errorMessage} </div> 
    <BirdButton bind:messageSentSuccessfully={messageSent} on:sendMail={sendMail}/>

    <div class="social"> 
      <a aria-label="Read more about my profile on LinkedIn" class="link linked-in" target="_blank" rel="noopener" href="https://se.linkedin.com/in/thomasmorice/" alt="Thomas Morice - LinkedIn"> <span>Linked In</span>  </a>
      <a aria-label="Read more about my code on Gitlab" class="link gitlab" target="_blank" rel="noopener" href="https://gitlab.com/thomasmorice/" alt="Thomas Morice - GitLab"> <span>gitlab</span>  </a>
      <a aria-label="Read more about my Instagram account" class="link instagram" target="_blank" rel="noopener" href="https://instagram.com/mr.__.t/" alt="Thomas Morice - Instagram"> <span>instagram</span>  </a>
    </div>
  </div>
</div>