<script> 
  import { menuOpened } from '../stores/stores.js';
</script>

<style lang="scss"> 
  header {
    position: relative;
    z-index: 99;
    height: 80px;
    padding: 15px 20px;
    .logo {
      height: 55px;
      width: auto;
      path {
        transition: fill .8s, stroke .9s;
      }
    }
    &.menuOpened {
      path:first-child {
        fill: white;
      }
      path:nth-child(2) {
        stroke: white;
      }
    }
  }

  @media all and (min-width: 736px) {
    header {
      padding: 40px;
      .logo {
        position: fixed;
      }
    }
  }

</style>

<header class:menuOpened={$menuOpened}> 
  <a rel='prefetch'href="/" aria-label="Read more about the Thomas Morice, Web Developer in Stockholm"> 
    <svg class="logo" width="104" height="41" viewBox="0 0 104 41" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M6.5918 25.4473C6.54622 25.4473 6.47331 25.4199 6.37305 25.3652C5.93555 25.11 5.7168 24.7591 5.7168 24.3125C5.7168 22.8177 5.85807 21.2272 6.14062 19.541C6.43229 17.2624 6.86523 15.043 7.43945 12.8828C7.77669 11.6706 8.13672 10.4674 8.51953 9.27344C8.55599 9.22786 8.57422 9.16406 8.57422 9.08203C8.57422 9.04557 8.54232 9.02734 8.47852 9.02734C8.45117 9.02734 8.4056 9.04557 8.3418 9.08203C5.77148 10.5586 3.58398 12.099 1.7793 13.7031C1.68815 13.8034 1.58333 13.8535 1.46484 13.8535C1.32812 13.8535 1.17773 13.7624 1.01367 13.5801C0.94987 13.5072 0.917969 13.4342 0.917969 13.3613C0.917969 13.2611 0.972656 13.1426 1.08203 13.0059C1.52865 12.5137 2.01172 12.0534 2.53125 11.625C6.11328 8.67188 10.1146 6.48893 14.5352 5.07617C15.3008 4.81185 16.0801 4.67057 16.873 4.65234C17.2923 4.67969 17.6159 4.82552 17.8438 5.08984C18.1536 5.4362 18.3086 5.79167 18.3086 6.15625C18.3086 6.44792 18.1901 6.70768 17.9531 6.93555C17.8802 7.01758 17.821 7.05859 17.7754 7.05859C17.6751 7.04036 17.5931 6.99023 17.5293 6.9082C17.4017 6.76237 17.3379 6.61198 17.3379 6.45703C17.3379 6.39323 17.3516 6.33854 17.3789 6.29297C17.5339 6.05599 17.6113 5.86003 17.6113 5.70508C17.6113 5.5957 17.5247 5.54102 17.3516 5.54102C16.8685 5.54102 16.4082 5.61393 15.9707 5.75977C13.9382 6.37044 11.9876 7.16341 10.1191 8.13867C9.97331 8.2207 9.8776 8.33919 9.83203 8.49414C8.72917 11.8757 7.84961 15.3164 7.19336 18.8164C6.87435 20.5938 6.65104 22.3893 6.52344 24.2031C6.52344 24.4674 6.58724 24.6771 6.71484 24.832C6.73307 24.8594 6.74674 24.8958 6.75586 24.9414C6.76497 24.9961 6.77409 25.0371 6.7832 25.0645C6.80143 25.1009 6.81055 25.1374 6.81055 25.1738C6.81055 25.2012 6.80143 25.2376 6.7832 25.2832C6.76497 25.3379 6.73307 25.3789 6.6875 25.4062C6.65104 25.4336 6.61914 25.4473 6.5918 25.4473ZM11.2605 23.916C11.1784 23.916 11.0782 23.8978 10.9597 23.8613C10.3217 23.6426 9.95253 23.1732 9.85227 22.4531C9.77935 21.9427 9.74289 21.4323 9.74289 20.9219C9.74289 20.3477 9.78846 19.7734 9.87961 19.1992C10.3718 15.4076 11.5567 11.3197 13.4343 6.93555C13.6439 6.42513 13.8445 5.95117 14.0359 5.51367C14.1179 5.30404 14.2273 5.19922 14.364 5.19922C14.4916 5.19922 14.601 5.26302 14.6921 5.39062C14.7924 5.51823 14.8425 5.6276 14.8425 5.71875C14.8425 5.81901 14.683 6.32031 14.364 7.22266C13.2155 10.349 12.2767 13.5208 11.5476 16.7383C11.101 18.4883 10.8594 20.2656 10.823 22.0703C10.823 22.2799 10.8685 22.4987 10.9597 22.7266L11.1511 22.1523C11.461 21.168 11.862 20.2155 12.3542 19.2949C12.5183 18.9668 12.6504 18.7891 12.7507 18.7617C12.8601 18.7253 12.9284 18.707 12.9558 18.707C13.1381 18.707 13.3978 18.8438 13.7351 19.1172C13.9174 19.2904 14.0313 19.4954 14.0769 19.7324C14.1589 20.0332 14.2683 20.3294 14.405 20.6211C14.5508 20.9128 14.8243 21.0586 15.2253 21.0586C15.6902 21.0586 16.0912 20.9173 16.4284 20.6348C16.7748 20.3431 17.1075 19.9876 17.4265 19.5684C17.5176 19.4408 17.6224 19.377 17.7409 19.377C17.8139 19.377 17.9004 19.4089 18.0007 19.4727C18.1101 19.5365 18.1784 19.5957 18.2058 19.6504C18.2331 19.696 18.2468 19.7324 18.2468 19.7598C18.2468 19.8327 18.1557 19.9831 17.9734 20.2109C17.6999 20.5755 17.4675 20.8581 17.2761 21.0586C16.8295 21.4596 16.3327 21.6602 15.7859 21.6602C15.5124 21.6602 15.2208 21.6055 14.9109 21.4961C14.0723 21.2135 13.5118 20.6621 13.2292 19.8418C12.6732 20.7988 12.254 21.7559 11.9714 22.7129C11.9349 22.9134 11.8347 23.2188 11.6706 23.6289C11.5977 23.7839 11.5248 23.8704 11.4519 23.8887C11.379 23.9069 11.3152 23.916 11.2605 23.916ZM18.4174 22.4258C18.4812 22.4258 18.5496 22.3893 18.6225 22.3164C18.8139 22.0977 18.9096 21.8698 18.9096 21.6328C18.9096 21.3503 18.7866 21.054 18.5405 20.7441C18.3946 21.1543 18.3217 21.5645 18.3217 21.9746C18.3217 22.2389 18.3536 22.3893 18.4174 22.4258ZM18.8412 23.2598C18.6498 23.2598 18.4493 23.1823 18.2397 23.0273C17.8933 22.7812 17.6564 22.526 17.5287 22.2617C17.4011 21.9883 17.3373 21.6283 17.3373 21.1816C17.3373 20.4616 17.5789 19.737 18.062 19.0078C18.2169 18.7982 18.3399 18.6888 18.4311 18.6797C18.5222 18.6615 18.5769 18.6523 18.5952 18.6523C18.7319 18.6523 18.8914 18.7116 19.0737 18.8301C19.1466 18.8757 19.2195 18.8984 19.2924 18.8984C19.42 18.944 19.5704 18.9668 19.7436 18.9668C20.1082 18.9668 20.5639 18.8529 21.1108 18.625C21.211 18.5065 21.3113 18.4473 21.4116 18.4473C21.4936 18.4473 21.5756 18.4746 21.6577 18.5293C21.7397 18.5749 21.7898 18.6204 21.808 18.666C21.8263 18.7116 21.8354 18.7572 21.8354 18.8027C21.8354 18.8574 21.8172 18.9395 21.7807 19.0488C21.7534 19.1582 21.6303 19.2448 21.4116 19.3086C19.9623 19.5638 19.2286 19.8509 19.2104 20.1699L19.1967 20.3887C19.1967 20.5618 19.2742 20.7852 19.4291 21.0586C19.6843 21.5326 19.812 21.9062 19.812 22.1797C19.812 22.4258 19.7208 22.6582 19.5385 22.877C19.3198 23.1322 19.0873 23.2598 18.8412 23.2598ZM21.9513 23.5879C21.7873 23.5879 21.5548 23.4421 21.2541 23.1504C21.0171 22.9225 20.8986 22.5579 20.8986 22.0566C20.8986 21.8652 20.9168 21.6784 20.9533 21.4961C21.0444 20.457 21.2905 19.4499 21.6916 18.4746C21.7098 18.4473 21.7235 18.4108 21.7326 18.3652C21.7964 18.1374 21.9012 18.0234 22.047 18.0234C22.1108 18.0234 22.1838 18.0371 22.2658 18.0645C22.5757 18.1921 22.7306 18.3926 22.7306 18.666C22.7306 18.748 22.717 18.8392 22.6896 18.9395C22.325 19.8874 22.0972 20.8763 22.006 21.9062L22.1974 21.4824C22.3341 21.0996 22.48 20.7168 22.6349 20.334C22.7534 20.0514 22.8992 19.9102 23.0724 19.9102C23.2 19.9102 23.3413 19.9876 23.4963 20.1426C23.6603 20.2884 23.7697 20.4479 23.8244 20.6211C23.8882 20.7943 23.9383 20.9766 23.9748 21.168C24.0386 21.5052 24.1024 21.6875 24.1662 21.7148C24.23 21.7331 24.2755 21.7422 24.3029 21.7422C24.4123 21.7422 24.5809 21.6602 24.8088 21.4961C25.4012 21.0221 25.8888 20.5163 26.2716 19.9785C26.4448 19.7598 26.6271 19.5547 26.8185 19.3633C26.9552 19.2357 27.092 19.1719 27.2287 19.1719C27.3745 19.1719 27.5249 19.2402 27.6798 19.377C27.9442 19.6777 28.1173 20.0332 28.1994 20.4434C28.3543 21.1361 28.5913 21.4824 28.9103 21.4824C29.0106 21.4824 29.1245 21.4505 29.2521 21.3867C29.8081 21.0586 30.1864 20.7533 30.3869 20.4707C30.5145 20.3066 30.6239 20.2246 30.715 20.2246C30.797 20.2246 30.8882 20.2793 30.9884 20.3887C31.0614 20.4707 31.0978 20.5482 31.0978 20.6211C31.0978 20.7305 31.0112 20.8717 30.838 21.0449C30.5099 21.4004 30.2274 21.6556 29.9904 21.8105C29.881 21.8835 29.7352 21.9883 29.5529 22.125C29.325 22.2708 29.1245 22.3438 28.9513 22.3438C28.4956 22.3438 28.0535 21.8105 27.6252 20.7441C27.5067 20.4069 27.411 20.2383 27.338 20.2383C27.2651 20.2383 27.133 20.3659 26.9416 20.6211C26.5496 21.1315 26.1121 21.6055 25.6291 22.043C25.2645 22.362 24.95 22.5215 24.6857 22.5215C24.3485 22.5215 23.9292 22.248 23.4279 21.7012C23.3914 21.6647 23.3595 21.6237 23.3322 21.5781C23.3048 21.5234 23.2775 21.4733 23.2502 21.4277C23.1681 21.6009 23.0952 21.7695 23.0314 21.9336C22.8765 22.2982 22.717 22.6491 22.5529 22.9863C22.5529 23.0046 22.5483 23.0182 22.5392 23.0273C22.3934 23.3646 22.1974 23.5514 21.9513 23.5879ZM31.5009 22.5078C31.3459 22.5078 31.2001 22.4714 31.0634 22.3984C30.6897 22.207 30.5028 21.9017 30.5028 21.4824C30.5028 21.291 30.5393 21.0814 30.6122 20.8535C31.0861 19.541 31.8928 18.4883 33.0321 17.6953C33.342 17.4857 33.6519 17.3809 33.9618 17.3809C34.217 17.3809 34.4768 17.4538 34.7411 17.5996C35.3882 17.9733 35.7665 18.5384 35.8759 19.2949L35.8895 19.377C35.8895 19.4681 35.8531 19.5137 35.7802 19.5137C35.7437 19.5137 35.6936 19.5 35.6298 19.4727C35.4384 19.3815 35.3427 19.2129 35.3427 18.9668C35.1968 18.4199 34.9097 18.1465 34.4813 18.1465C34.3173 18.1465 34.135 18.1829 33.9345 18.2559C33.8524 18.2832 33.7932 18.3151 33.7567 18.3516C33.3557 18.6432 32.9546 19.0352 32.5536 19.5273C32.1617 20.0195 31.8427 20.4753 31.5966 20.8945C31.396 21.25 31.2958 21.4824 31.2958 21.5918C31.2958 21.6647 31.3322 21.7012 31.4052 21.7012C31.4872 21.7012 31.6148 21.6237 31.788 21.4688C31.9611 21.3047 32.6128 20.5846 33.743 19.3086C33.898 19.1354 34.0848 19.0488 34.3036 19.0488L34.413 19.0625C34.5679 19.0807 34.6727 19.2493 34.7274 19.5684C34.7821 19.8783 34.8095 20.0879 34.8095 20.1973C34.8641 20.5983 34.9143 20.8262 34.9598 20.8809C35.0054 20.8991 35.0555 20.9082 35.1102 20.9082C35.2652 20.9082 35.452 20.8216 35.6708 20.6484C36.3361 20.1836 36.7463 19.8555 36.9013 19.6641C36.9559 19.6003 37.0744 19.4909 37.2567 19.3359C37.4026 19.2174 37.5074 19.1582 37.5712 19.1582C37.6441 19.1582 37.7079 19.1992 37.7626 19.2812C37.8355 19.418 37.872 19.5365 37.872 19.6367L37.8446 19.7734C37.799 19.901 37.521 20.2201 37.0106 20.7305C36.2177 21.5508 35.5751 21.9609 35.0829 21.9609C34.6363 21.9609 34.258 21.6556 33.9481 21.0449C33.9299 20.9993 33.9117 20.9447 33.8934 20.8809C33.8843 20.8171 33.8661 20.7396 33.8388 20.6484C33.4195 21.3047 32.8908 21.8516 32.2528 22.2891C32.0249 22.4349 31.7743 22.5078 31.5009 22.5078ZM37.5914 24.6816C37.956 24.5632 38.2978 24.3125 38.6168 23.9297C38.9358 23.556 39.1135 23.2051 39.15 22.877C39.15 22.722 39.109 22.6445 39.027 22.6445C38.9905 22.6445 38.954 22.6673 38.9176 22.7129C38.3798 23.2871 37.9378 23.9434 37.5914 24.6816ZM37.7691 25.5703C37.4319 25.5703 37.1402 25.429 36.8941 25.1465C36.803 25.0371 36.7574 24.8867 36.7574 24.6953C36.7574 24.1393 37.2177 23.3281 38.1383 22.2617C38.275 22.1068 38.4026 21.9792 38.5211 21.8789C38.5484 21.8424 38.5621 21.8014 38.5621 21.7559C38.5621 21.6829 38.4801 21.5143 38.316 21.25C37.8147 20.5026 37.5641 19.7324 37.5641 18.9395C37.5641 18.1191 37.7327 17.349 38.0699 16.6289C38.4163 15.8997 38.831 15.3027 39.3141 14.8379C39.5328 14.6191 39.7926 14.4505 40.0934 14.332C40.221 14.2773 40.3212 14.25 40.3941 14.25C40.4944 14.25 40.5901 14.2819 40.6813 14.3457C40.8544 14.4915 40.941 14.724 40.941 15.043C40.941 15.2617 40.8863 15.5124 40.777 15.7949C40.7314 15.959 40.6676 16.0456 40.5855 16.0547C40.4762 16.0547 40.4215 16 40.4215 15.8906V15.7812C40.4579 15.5352 40.4807 15.3529 40.4898 15.2344C40.4898 15.0339 40.4306 14.9336 40.3121 14.9336C40.1298 14.9336 39.8609 15.248 39.5055 15.877C39.0042 16.7611 38.7034 17.4219 38.6031 17.8594C38.4664 18.2695 38.398 18.6751 38.398 19.0762C38.398 19.7415 38.5895 
      20.3932 38.9723 21.0312C39.0178 21.1042 39.0497 21.168 39.068 21.2227C39.0953 21.2682 39.1135 21.3001 39.1227 21.3184C39.1409 21.3275 39.1546 21.332 39.1637 21.332C39.1728 21.332 39.7424 20.7396 40.8727 19.5547C41.219 19.1901 41.4241 19.0078 41.4879 19.0078C41.5335 19.0078 41.6155 19.0534 41.734 19.1445C41.7704 19.1719 41.8115 19.1992 41.857 19.2266C41.9026 19.2448 41.9254 19.2721 41.9254 19.3086C41.9254 19.418 41.7294 19.7051 41.3375 20.1699C40.5719 21.0632 39.9977 21.6738 39.6148 22.002C39.5966 22.0111 39.5875 22.0247 39.5875 22.043C39.5875 22.0794 39.6194 22.1706 39.6832 22.3164C39.7744 22.5443 39.8199 22.7585 39.8199 22.959C39.8199 23.4147 39.6331 23.9069 39.2594 24.4355C39.0042 24.8275 38.6806 25.1602 38.2887 25.4336C38.152 25.5247 37.9788 25.5703 37.7691 25.5703ZM52.3018 27.7441C52.1833 27.7441 52.0284 27.6393 51.837 27.4297L51.8096 27.3887C51.5088 27.252 51.3493 27.0788 51.3311 26.8691L51.3174 26.7051C51.3174 26.541 51.3493 26.3678 51.4131 26.1855C51.8506 24.6908 52.8942 22.1979 54.544 18.707C56.4489 14.6784 57.4014 12.1309 57.4014 11.0645C57.4014 10.8001 57.3604 10.6315 57.2784 10.5586C57.2237 10.513 57.1371 10.4902 57.0186 10.4902C56.9366 10.4902 56.8454 10.4993 56.7452 10.5176C54.6944 10.8913 52.5069 12.5456 50.1827 15.4805C48.9522 16.9753 48.0498 18.6432 47.4756 20.4844C47.3207 20.9948 47.2432 21.4551 47.2432 21.8652C47.2432 22.1569 47.3298 22.3027 47.503 22.3027C47.6032 22.3027 47.7445 22.2617 47.9268 22.1797C48.264 22.0065 48.5694 21.7878 48.8428 21.5234C48.8519 21.5234 48.8565 21.5189 48.8565 21.5098C48.9932 21.3822 49.1026 21.3184 49.1846 21.3184C49.2575 21.3184 49.3487 21.4141 49.458 21.6055C49.5036 21.6602 49.5264 21.7148 49.5264 21.7695C49.5264 21.8333 49.4945 21.888 49.4307 21.9336L49.1162 22.1797C48.6058 22.6719 48.1547 22.918 47.7627 22.918C47.2705 22.918 46.9105 22.6764 46.6827 22.1934C46.5277 21.7923 46.4502 21.3913 46.4502 20.9902C46.4502 20.6257 46.514 20.2611 46.6416 19.8965C47.4893 17.2441 48.8838 14.9154 50.8252 12.9102C51.8825 11.7526 53.0948 10.791 54.462 10.0254C54.9815 9.72461 55.5375 9.51953 56.1299 9.41016C56.2484 9.39193 56.3623 9.38281 56.4717 9.38281C57.0459 9.38281 57.488 9.66992 57.7979 10.2441C58.1078 10.8092 58.2627 11.3835 58.2627 11.9668C58.2627 12.3496 58.2035 12.7324 58.085 13.1152C57.5381 14.8561 56.8682 16.5469 56.0752 18.1875C55.3552 19.6823 54.4118 21.7969 53.2452 24.5312C53.1905 24.6133 53.1631 24.7181 53.1631 24.8457C53.9379 23.7611 54.8539 22.3574 55.9112 20.6348C57.4424 18.1374 58.7868 16.1777 59.9444 14.7559C60.1722 14.4551 60.4366 14.1862 60.7373 13.9492C60.8832 13.8307 61.0199 13.7715 61.1475 13.7715C61.3207 13.7715 61.4756 13.8854 61.6123 14.1133C61.8311 14.4688 61.9405 14.8379 61.9405 15.2207C61.9405 15.4668 61.8995 15.7129 61.8174 15.959L60.3955 20.8262C60.2862 21.209 60.2041 21.6237 60.1495 22.0703C60.3682 21.9609 60.5414 21.8333 60.669 21.6875C60.7784 21.6328 61.3982 20.9264 62.5284 19.5684C63.1117 18.8757 63.7452 18.2376 64.4287 17.6543C64.7113 17.4082 64.9483 17.2852 65.1397 17.2852C65.1761 17.2852 65.2536 17.3034 65.3721 17.3398C65.4997 17.3672 65.6547 17.5859 65.837 17.9961C65.9463 18.2695 66.001 18.5521 66.001 18.8438L65.96 19.5137C65.878 20.2884 65.837 20.7533 65.837 20.9082C65.837 21.0085 65.8597 21.0814 65.9053 21.127C65.9509 21.1634 66.042 21.1816 66.1787 21.1816C66.5433 21.1816 66.9034 21.0677 67.2588 20.8398C67.5505 20.7122 67.8467 20.4889 68.1475 20.1699L69.1319 19.0625C69.2595 18.9076 69.3689 18.8301 69.46 18.8301C69.6058 18.8301 69.6787 18.9212 69.6787 19.1035C69.6787 19.2585 69.6423 19.3952 69.5694 19.5137C68.5394 20.8262 67.7829 21.5736 67.2998 21.7559C67.0629 21.9108 66.794 21.9883 66.4932 21.9883C66.2653 21.9883 66.0192 21.8971 65.7549 21.7148C65.3448 21.4141 65.1397 20.8626 65.1397 20.0605C65.1397 19.86 65.1579 19.6504 65.1944 19.4316L65.2627 18.502C65.2536 18.4473 65.2217 18.4199 65.167 18.4199C65.1397 18.4199 65.1123 18.4336 65.085 18.4609C65.0577 18.4883 65.0394 18.502 65.0303 18.502C64.5108 18.9486 63.8135 19.6823 62.9385 20.7031C62.4554 21.2682 61.945 21.8151 61.4073 22.3438C60.8695 22.8633 60.5232 23.123 60.3682 23.123C60.2588 23.123 60.1221 23.0592 59.958 22.9316C59.5479 22.6035 59.3428 22.207 59.3428 21.7422C59.3428 21.4323 59.3975 21.0768 59.5069 20.6758C59.8168 19.2174 60.2087 17.7181 60.6827 16.1777C60.7647 15.877 60.8057 15.6719 60.8057 15.5625C59.4476 17.1667 57.9027 19.3906 56.1709 22.2344C55.0316 24.112 53.9652 25.7298 52.9717 27.0879C52.6801 27.5254 52.4567 27.7441 52.3018 27.7441ZM69.8084 22.4258C69.8722 22.4258 69.9405 22.3893 70.0134 22.3164C70.2048 22.0977 70.3005 21.8698 70.3005 21.6328C70.3005 21.3503 70.1775 21.054 69.9314 20.7441C69.7856 21.1543 69.7127 21.5645 69.7127 21.9746C69.7127 22.2389 69.7446 22.3893 69.8084 22.4258ZM70.2322 23.2598C70.0408 23.2598 69.8403 23.1823 69.6306 23.0273C69.2843 22.7812 69.0473 22.526 68.9197 22.2617C68.7921 21.9883 68.7283 21.6283 68.7283 21.1816C68.7283 20.4616 68.9698 19.737 69.4529 19.0078C69.6078 18.7982 69.7309 18.6888 69.822 18.6797C69.9132 18.6615 69.9679 18.6523 69.9861 18.6523C70.1228 18.6523 70.2823 18.7116 70.4646 18.8301C70.5375 18.8757 70.6104 18.8984 70.6834 18.8984C70.811 18.944 70.9614 18.9668 71.1345 18.9668C71.4991 18.9668 71.9548 18.8529 72.5017 18.625C72.602 18.5065 72.7022 18.4473 72.8025 18.4473C72.8845 18.4473 72.9666 18.4746 73.0486 18.5293C73.1306 18.5749 73.1808 18.6204 73.199 18.666C73.2172 18.7116 73.2263 18.7572 73.2263 18.8027C73.2263 18.8574 73.2081 18.9395 73.1716 19.0488C73.1443 19.1582 73.0212 19.2448 72.8025 19.3086C71.3533 19.5638 70.6196 19.8509 70.6013 20.1699L70.5877 20.3887C70.5877 20.5618 70.6651 20.7852 70.8201 21.0586C71.0753 21.5326 71.2029 21.9062 71.2029 22.1797C71.2029 22.4258 71.1117 22.6582 70.9295 22.877C70.7107 23.1322 70.4783 23.2598 70.2322 23.2598ZM75.0239 23.2734C74.9601 23.2734 74.8917 23.2643 74.8188 23.2461C74.5089 23.1458 74.3175 23.0091 74.2446 22.8359C74.1899 22.7174 74.1489 22.4577 74.1216 22.0566C74.1216 21.6009 74.1717 21.1497 74.2719 20.7031L74.2856 20.5801C74.2856 20.2246 73.9803 19.9512 73.3696 19.7598C72.9594 19.623 72.7544 19.3633 72.7544 18.9805C72.7544 18.2148 72.9458 17.5404 73.3286 16.957C73.4744 16.7201 73.6339 16.6016 73.8071 16.6016C74.0623 16.6016 74.2856 16.752 74.477 17.0527C74.5955 17.235 74.6548 17.3991 74.6548 17.5449C74.6548 17.6087 74.6183 17.7181 74.5454 17.873C74.3813 18.1647 74.2993 18.3789 74.2993 18.5156V18.7344C74.2993 18.9896 74.4588 19.2311 74.7778 19.459C74.9692 19.623 75.0649 19.8327 75.0649 20.0879C74.9282 21.3275 74.8598 21.9792 74.8598 22.043C74.8598 22.1615 74.8781 22.2572 74.9145 22.3301C75.0695 22.2754 75.2791 22.0566 75.5434 21.6738C75.6164 21.5827 75.8078 21.3047 76.1177 20.8398C76.3637 20.4753 76.5916 20.1107 76.8012 19.7461C77.0018 19.3542 77.2023 19.1582 77.4028 19.1582C77.4666 19.1582 77.5259 19.1764 77.5805 19.2129C77.6443 19.2493 77.6945 19.2767 77.7309 19.2949C77.7765 19.3132 77.8084 19.3314 77.8266 19.3496C77.8449 19.3587 77.854 19.377 77.854 19.4043C77.854 19.4499 77.8084 19.5592 77.7173 19.7324C77.1977 20.8262 76.5506 21.8333 75.7759 22.7539C75.7121 22.8906 75.5844 23.0228 75.393 23.1504C75.2746 23.2324 75.1515 23.2734 75.0239 23.2734ZM78.4211 18.3516C78.2388 18.3516 78.0793 18.2741 77.9426 18.1191C77.815 17.9642 77.7512 17.7728 77.7512 17.5449C77.8697 16.5879 78.1158 15.9818 78.4895 15.7266C78.5533 15.6719 78.6171 15.6445 78.6809 15.6445C78.7264 15.6445 78.7811 15.6673 78.8449 15.7129C79.173 15.9043 79.3371 16.0501 79.3371 16.1504C79.3371 16.1868 79.3234 16.2279 79.2961 16.2734C78.968 16.6836 78.7219 17.3398 78.5578 18.2422C78.5487 18.3151 78.5031 18.3516 78.4211 18.3516ZM77.9563 22.7539C77.3091 22.7539 76.9855 22.2253 76.9855 21.168C76.9855 20.8945 77.0038 20.5892 77.0402 20.252C77.1496 19.377 77.3957 18.9395 77.7785 18.9395C78.0155 18.9395 78.1704 19.0944 78.2434 19.4043L78.257 19.5547C78.257 19.6914 78.2251 19.8509 78.1613 20.0332C78.0064 20.5618 77.9289 21.0495 77.9289 21.4961C77.9289 21.5781 77.9335 21.6556 77.9426 21.7285C77.9608 21.7923 78.0246 21.8242 78.134 21.8242C78.1704 21.8242 78.2069 21.8151 78.2434 21.7969C78.6535 21.5872 79.2551 21.0905 80.048 20.3066C80.7408 19.623 81.119 19.2448 81.1828 19.1719C81.2557 19.099 81.3378 19.0625 81.4289 19.0625C81.6294 19.0625 81.7297 19.1673 81.7297 19.377C81.7297 19.7233 81.3104 20.2839 80.4719 21.0586C79.4146 22.1888 78.576 22.7539 77.9563 22.7539ZM82.078 23.082C81.8866 23.082 81.7089 23.041 81.5448 22.959C81.1985 22.7949 80.998 22.4668 80.9433 21.9746L80.9296 21.5098C80.9296 20.4251 81.2395 19.418 81.8593 18.4883C82.0234 18.2422 82.2011 18.1191 82.3925 18.1191C82.5657 18.1191 82.748 18.224 82.9394 18.4336C83.2584 18.7708 83.427 19.0534 83.4452 19.2812C83.4726 19.5091 83.4863 19.6641 83.4863 19.7461C83.4863 20.1745 83.4361 20.5254 83.3359 20.7988C83.3085 20.8626 83.2721 20.8945 83.2265 20.8945C83.19 20.8945 83.1262 20.8672 83.0351 20.8125C82.7981 20.7214 82.6659 20.5892 82.6386 20.416V19.6777L82.5292 19.623C82.1464 20.4069 81.9277 21.2409 81.873 22.125C81.873 22.2526 81.9185 22.3164 82.0097 22.3164C82.1464 22.3164 82.4472 22.1888 82.912 21.9336C84.1516 21.2227 85.1952 20.293 86.0429 19.1445C86.0702 19.1172 86.093 19.0853 86.1113 19.0488C86.1842 18.903 86.2616 18.8301 86.3437 18.8301C86.3892 18.8301 86.4394 18.8438 86.4941 18.8711C86.6672 18.9622 86.7538 19.1081 86.7538 19.3086C86.7538 19.4453 86.7174 19.5684 86.6445 19.6777C85.6874 21.1634 84.3886 22.248 82.748 22.9316C82.511 23.0319 82.2877 23.082 82.078 23.082ZM86.8424 20.4434C86.9883 20.2702 87.1478 20.0378 87.3209 19.7461C87.7949 19.0807 88.1093 18.5065 88.2643 18.0234C87.9362 18.2513 87.6217 18.6432 87.3209 19.1992C87.0202 19.7461 86.8607 20.1608 86.8424 20.4434ZM87.7311 23.2188C87.4303 23.2188 87.1432 23.1413 86.8698 22.9863C86.2773 22.6582 85.9446 22.0794 85.8717 21.25C85.8717 19.9831 86.2272 18.8665 86.9381 17.9004C87.3392 17.3809 87.7311 17.1211 88.1139 17.1211C88.2415 17.1211 88.3737 17.1621 88.5104 17.2441C88.9205 17.5358 89.1256 17.8685 89.1256 18.2422C89.1256 18.3151 89.1165 18.3926 89.0983 18.4746C88.834 19.4316 88.4192 20.1745 87.8541 
      20.7031C87.444 21.1771 87.1113 21.446 86.8561 21.5098C86.8926 21.6465 86.9655 21.7969 87.0748 21.9609C87.2663 22.2253 87.5078 22.3574 87.7995 22.3574C87.8815 22.3574 87.9635 22.3483 88.0455 22.3301C88.6745 22.1204 89.317 21.7057 89.9733 21.0859C90.6386 20.457 91.1946 19.778 91.6413 19.0488C91.6595 19.0124 91.6777 18.9668 91.6959 18.9121C91.7142 18.8483 91.737 18.7982 91.7643 18.7617C91.7916 18.7253 91.8235 18.707 91.86 18.707C91.8873 18.707 91.9238 18.7207 91.9694 18.748C92.1061 18.8301 92.1745 18.944 92.1745 19.0898C92.1745 19.2721 92.0423 19.5911 91.778 20.0469C91.0488 21.2591 90.0735 22.2116 88.8522 22.9043C88.4511 23.1139 88.0774 23.2188 87.7311 23.2188Z" 
      fill="#3A3A3A"/>
      <path d="M37.4656 36.4366C34.1153 43.2791 51.5344 38.4535 54.7532 37.4232C57.9719 36.3929 61.5126 34.8475 61.5126 34.8475" 
      stroke="#3A3A3A" stroke-width="0.7"/>
    </svg>
   </a>
</header>