<script>
  import { menuOpened } from '../stores/stores.js';
  import { onMount } from 'svelte'

  export let links;
  let isLoaded = false;
  
  const toggleMenuState = () => {
    menuOpened.update(n => !n);
    $menuOpened ? document.body.classList.add('isUnscrollable') :  document.body.classList.remove('isUnscrollable')
  }

  onMount(() => {
    isLoaded = true;
  })
</script>

<style lang="scss">
  .menu {
    position: fixed;
    z-index: 99;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: white;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.40);
  }

  .menu-state-indicator {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    .text {
      color: #3A3A3A;
      font-size: 17px;
      font-weight: bold;
      font-style: italic;
      margin-top: -3px;
    }

    .hamburger-icon {
      transition: transform .4s;
      .line {
        fill:none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke:#3A3A3A;
        stroke-width:5.5;
        stroke-linecap:round;
      }
      .top { stroke-dasharray: 40 121; }
      .bottom { stroke-dasharray: 40 121; }
    }
    &.menuOpened {
      .hamburger-icon {
        transform: rotate(45deg);
      }
      .top { stroke-dashoffset: -68px; }
      .bottom { stroke-dashoffset: -68px; }
    }
  }
  
  .menu-open {
    .first-pane, .second-pane, .third-pane, .fourth-pane {
      position: fixed;
      z-index: 9;
      top: 0;
      height: 100%;
      width: 100%;
      transform: translateX(100%);
    }
    .first-pane  { background-color: #CAD3DC; transition: transform 250ms ease-in-out 360ms }
    .second-pane { background-color: #919AA0; transition: transform 250ms ease-in-out 240ms }
    .third-pane  { background-color: #4C5559; transition: transform 250ms ease-in-out 120ms }
    .fourth-pane { background-color: #262E33; transition: transform 250ms }

    &.menuOpened {
      .first-pane { transition: transform 120ms }
      .second-pane{ transition: transform 240ms ease-in-out 140ms }
      .third-pane { transition: transform 360ms ease-in-out 280ms }
      .fourth-pane{ transition: transform 480ms ease-in-out 420ms }
      .first-pane, .second-pane, .third-pane, .fourth-pane {
        transform: translateX(0%);
      }

    }

    .links {
      display: flex;
      visibility: hidden;
      transition: opacity 300ms, width 0s ease 1s;
      opacity: 0;
      z-index: 9;
      flex-direction: column;
      position: fixed;
      height: 100%;
      width: 0;
      top: 0;
      left: 0;
      justify-content: center;
      text-align: center;

      .link {
        text-decoration: none;
        margin: 12px 0;
        padding: 0 10px;
        letter-spacing: 0.06em;
        text-transform: lowercase;
        color: #FEFEFE;
        font-style: italic;
        font-size: 21px;
        line-height: 26px;
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 300ms ease-in-out 500ms, transform 200ms ease-in-out 500ms;
      }
      .link-separator {
        width: 0;
        height: 1px;
        background-color: #fefefe;
        margin: 10px auto;
        transition: width 300ms ease-in-out 500ms;
      }
    }
    &.menuOpened {
      .links {
        width: 100%;
        opacity: 1;
        display: flex;
        transition: none;
        visibility: visible;
        .link {
          opacity: 1;
          transform: translateY(0px);
        }
        .link-separator {
          width: 120px;
        }
      }
    }
  }

  @media all and (min-width: 736px) {
    .menu {
      top: 0;
      width: 10%;
      padding: 30px 0;
      right: 0;
      box-shadow: none;
      &.isLoaded {
        background-color: #f7f7f7;
        transition: background-color 100ms ease-in-out 550ms, width 500ms ease-in-out 1000ms;
        width: 50%;
      }
      &.menuOpened {
        transition: background-color 0ms;
        background-color: transparent;
      }
      .menu-state-indicator  {
        justify-content: flex-end;
        padding-right: 35px;
        .hamburger-icon {
          .line { transition: all 1000ms; }
        }
        .text { transition: transform 800ms }
        &.menuOpened {
          .hamburger-icon {
            .line { stroke:white; }
          }
          .text { color: white; }
        }
      }
    }
    .menu-open {
      .links {
        .link {
          font-size: 26px;
          line-height: 32px;
        }
      }
    }
  }
</style>

<div class="menu" class:isLoaded class:menuOpened={$menuOpened}> 
  <div on:click="{toggleMenuState}" class="menu-state-indicator no-select-feedback" class:menuOpened={$menuOpened}>
    <svg class="hamburger-icon" viewBox="0 0 100 100" width="40" class:menuOpened={$menuOpened}>
      <path class="line top" d="m 70,33 h -40 c 0,0 -8.5,-0.149796 -8.5,8.5 0,8.649796 8.5,8.5 8.5,8.5 h 20 v -20" />
      <path class="line middle" d="m 70,50 h -40" />
      <path class="line bottom" d="m 30,67 h 40 c 0,0 8.5,0.149796 8.5,-8.5 0,-8.649796 -8.5,-8.5 -8.5,-8.5 h -20 v 20" />
    </svg>
    {#if !$menuOpened}
      <div class="text">menu</div> 
    {:else} 
      <div class="text">close</div> 
    {/if}
  </div>
</div>

<div class="menu-open" class:menuOpened={$menuOpened}> 
  <div class="first-pane"> </div>
  <div class="second-pane"> </div>
  <div class="third-pane"> </div>
  <div class="fourth-pane"> </div>
  <div class="links"> 
    {#each links as link}
      <a rel='prefetch' class="link" href="{link.href}/" on:click="{toggleMenuState}"> {@html link.label} </a>
      <span class="link-separator"></span>
    {/each}
  </div>
</div>
