<script>
  import { onMount, beforeUpdate } from 'svelte'
  
  let bold = false
  let italic = false

  export let marks = []
  export let text = ''

  let isLoaded = false;

  beforeUpdate(() => {
    bold = false
    italic = false
    marks.forEach(mark => {
      if (mark.type === 'bold') {
        bold = true;
      }
      if (mark.type === 'italic') {
        italic = true;
      }
    });
  })
  
</script>

{#if bold && italic }
  <strong> <i>{text}</i> </strong>
{:else if bold}
  <strong> {text} </strong>
{:else if italic}
  <i> {text} </i>
{:else}
  {text}
{/if}
