<script> 
  import { onMount, afterUpdate, createEventDispatcher} from 'svelte'
  import { pageScrolled } from '../stores/stores.js';
  import { getImageWidth, getImageFormat } from '../helpers/utils'

	const dispatch = createEventDispatcher();

  export let image;
  export let isFeaturedImage = false;

  let imgElement;
  let lowResImageLoaded = false;
  let highResImageLoaded = false;
  
  let imgSource = '';

  const isImageInViewport = () => {
    if (imgElement) {
      let rect = imgElement.getBoundingClientRect();
      return rect.top < window.innerHeight && rect.bottom >= 0;
    }
  }


  const onHighResImageLoaded = ((event) => {
    highResImageLoaded = true;
    dispatch('highResImageAdded', imgElement.src)
  })

  afterUpdate(async() => {
    //if (isImageInViewport()){
      const imgFormat = await getImageFormat();
      imgSource = image.getHighResImage(getImageWidth(), window.devicePixelRatio, imgFormat)
    //}

  })

</script>

<style lang="scss">
  .image-container {
    position: relative;
    width: calc(100% - 50px);
    margin: 0 auto;
    opacity: 0;
    transform: translateY(12px);
    transition: opacity .3s, width .3s, transform .6s ease-in-out .2s;
    
    img {
      width: 100%;
      box-shadow: 0 1px 3px rgba(5, 4, 4, 0.2);
    }
    
    &.lowResImageLoaded {
      opacity: .5;
    }
    &.highResImageLoaded {
      opacity: 1;
      width: calc(100% - 40px);
      transform: translateY(0px)
    }


  }
  @media all and (min-width: 736px) {
    .image-container {
      &.featuredImage {
        img {
          max-height: 350px;
          object-fit: cover;
          object-position: center 0%;
          transition: object-position 2s ease-in-out;
        }
        &.pageScrolled {
          img {
            transition: object-position 4s ease-in-out;
            object-position: center 100%;
          }
        }
      }
      &:not(.featuredImage) {
        margin-bottom: 130px;
        &.highResImageLoaded {
          width: calc(100% - 100px);
        }
      }
    }
  }
</style>

<div class="image-container" class:pageScrolled={$pageScrolled} class:featuredImage={isFeaturedImage} class:lowResImageLoaded class:highResImageLoaded>
  <img bind:this={imgElement} class:highResImageLoaded on:load={onHighResImageLoaded.bind(this)} alt={image.getDescription()} 
    src={imgSource} 
  />
</div>