<script>
  import { onMount } from 'svelte'
  import { menuOpened, pageScrolled } from '../stores/stores.js';
  import RenderText from '../components/RenderText.svelte'
  import RenderImage from '../components/RenderImage.svelte'
  export let richTextContent;
  export let isFeaturedParagraph = false;
  
  let isLoaded = false;
  let isOnScreen = false;

  const isParagraphInViewport = () => {
    let isInViewport = false;
    document.querySelectorAll(".fadeAppear").forEach((element) => {
      let rect = element.getBoundingClientRect()
      if (rect.top < window.innerHeight && rect.bottom >= 0) {
        isInViewport = true;
      }
    });
    return isInViewport;
  }

  onMount(() => {
    isLoaded = true;
    isOnScreen = isParagraphInViewport()
    document.addEventListener('scroll', () => {
      isOnScreen = isParagraphInViewport()
    })
  })
</script>

<style lang="scss"> 
  .content {
    margin-top: 40px;
    padding-bottom: 50px;
    transition: transform 200ms ease-in-out 450ms;
    p {
      line-height: 2em;
      font-size: 1.05em;
      text-align: justify;
      letter-spacing: 0.05em;
      padding: 0 20px;
      margin-bottom: 30px;
      transform: translateY(10px);
      &.fadeAppear {
        opacity: 0;
      }
      &.isOnScreen {
        transition: transform .6s ease-in-out .6s, opacity .3s ease-in-out 400ms;
        &:nth-child(0) { transition: transform .6s ease-in-out .2s, opacity .3s }
        &:nth-child(1) { transition: transform .6s ease-in-out .3s, opacity .3s ease-in-out 100ms; }
        &:nth-child(2) { transition: transform .6s ease-in-out .4s, opacity .3s ease-in-out 200ms; }
        &:nth-child(3) { transition: transform .6s ease-in-out .5s, opacity .3s ease-in-out 300ms; }
        opacity: 1;
        transform: translateY(0px);
      }
    }
    &.menuOpened {
      transform: translateX(-100%);
      transition: transform 200ms ease-in-out 160ms;
    }
    &.isFeaturedParagraph {
      margin: 0;
      padding: 0;
      p {
        font-size: 0.925em;
        line-height: 1.8em;
        letter-spacing: 0.04em;
      }

    }
  }
  @media all and (min-width: 736px) {
    .content:not(.isFeaturedParagraph) {
      margin-left: 55%;
      width: 40%;
      p {
        padding: 0 40px;
        line-height: 2em;
        font-size: 1.1em;
        letter-spacing: 0.022em;
        margin: 70px 0;
      }
      &.pageScrolled {
        transform: translateY(-10px);
        p.fadeAppear {
          opacity: 1;
        }
      }
    }
  }

</style>

<div data-scroll-content class="content" class:menuOpened={$menuOpened} class:isFeaturedParagraph class:pageScrolled={$pageScrolled}> 
  {#each richTextContent as richTextElement}
    {#if richTextElement.getType() === 'paragraph'}
      <p class:fadeAppear={!isFeaturedParagraph} class:isOnScreen>
        {#each richTextElement.getContent() as textElement}
          <RenderText marks={textElement.marks} text={textElement.value} />
        {/each}
      </p>
    {:else if richTextElement.getType() === 'image'}
      <RenderImage image={richTextElement} /> 
    {/if}
  {/each}
</div>