@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700i&display=swap');

body {
	margin: 0;
	font-family: 'Playfair Display', Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #FEFEFE;
	color: #3A3A3A;
}

body.isUnscrollable {
	-webkit-overflow-scrolling: touch;
	overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2em;
}

.no-select-feedback {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}